<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Tweet Portfolio">
    <meta name="author" content="FJPY">
    <link rel="icon" href="favicon/tweetportfolio.ico">
	
    <title>Tweet Portfolio</title>

	<link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/main.css">
</head>

<body>

    <div id="mainContainer">
        <canvas id="mainCanvas" keepalive="true"></canvas>
        <div id="header" class="text-center">
            <h1>Tweet Portfolio</h1>
			<h2>Start organizing your tweets after a search...</h2>
            <a class="btn btn-xl" href="#search">Search</a>
        </div>
    </div>
	
	<div id="trending" >
		<div id="halftrending">
			<div class="row text-center">
				<div class="col">
					<h5>Trending Searches</h5>
				</div>
				<div class="col" v-for="trend in trends">
				    <a class="btn btn-xlwhite" v-bind:href="trend.url">{{trend.name}}</a>
				</div>
				<div class="col" v-for="trend in trends2">
					<a class="btn btn-xlwhite" v-bind:href="trend.url">{{trend.name}}</a>
				</div>
				<div class="col" v-for="trend in trends3">
					<a class="btn btn-xlwhite" v-bind:href="trend.url">{{trend.name}}</a>
				</div>
			</div>
		</div>
		<div id="halftrending">
			<div class="row text-center">
				<div class="col" v-for="trend in trends4">
					<a class="btn btn-xlwhite" v-bind:href="trend.url">{{trend.name}}</a>
				</div>
				<div class="col" v-for="trend in trends5">
					<a class="btn btn-xlwhite" v-bind:href="trend.url">{{trend.name}}</a>
				</div>
				<div class="col" v-for="trend in trends6">
					<a class="btn btn-xlwhite" v-bind:href="trend.url">{{trend.name}}</a>
				</div>
				<div class="col" v-for="trend in trends7">
					<a class="btn btn-xlwhite" v-bind:href="trend.url">{{trend.name}}</a>
				</div>
			</div>
		</div>
	</div>
	
	<!--
	 <div id="trending" >
        <div class="container">
			<h3>Suggested Trending Searches</h3>
        </div>
		<div class="row text-center">
			<div class="col" v-for="trend in trends">
				<div class="ninety">
				  <a class="btn btn-xlwhite" v-bind:href="trend.url">{{trend.name}}</a>
				  </div>
			</div>
		</div>
	</div>-->
	
		
	<div id="search">
    <form action="/tweet-portfolio/mainpage.html">
        <input type="search" value="" placeholder="Type query then press enter..." />
    </form>			
	</div>
	
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/paper-full.min.js"></script>
    <script src="js/codebird.js"></script>
    <script src="js/vue.js"></script>
	<script src="js/searchhomepage.js"></script>
    <script src="js/circles.js"></script>

</body>

</html>
